<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    {{ if .IsPage }}
    <meta name="keywords" content="">
    <meta name="description" content="{{ .Summary }}">
    {{ end }}

    <title>
        {{ if not .IsHome }}
        {{ $.Site.Title }} - {{ .Title }}
        {{ else }}
        {{ $.Site.Title }}
        {{ end }}
    </title>

    <link rel="apple-touch-icon" href="{{ $.Site.Params.appleIcon | relURL }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ $.Site.Params.favicon | relURL }}" />

    {{ range .Site.Params.custom_css -}}
    <link type="text/css" rel="stylesheet" href="{{ . | absURL }}.css">
    {{- end }}

    <link rel="stylesheet" type="text/css" 
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css">
</head>