{{ if .Params.slides }}

<div class="col-1 align-self-center">
    <a href="#multi-item-example" role="button" data-bs-slide="prev">
        <i class="text-dark fas fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
    </a>
</div>


<!--Start Carousel-->
<div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
    <div class="carousel-inner product-links-wap" role="listbox">

        {{ range $idx, $slide := .Params.slides }}
        <div class='carousel-item {{ if eq $idx 0 }} active {{ end }}'>
            <div class="row">
                {{range $slide }}
                <div class="col-4">
                    <a href="#">
                        <img class="card-img img-fluid" src="/posts/images/{{ . }}" alt="{{ . }}">
                    </a>
                </div>
                {{ end }}
            </div>
        </div>
        {{ end }}

    </div>
</div>
<!--End Carousel-->

<div class="col-1 align-self-center">
    <a href="#multi-item-example" role="button" data-bs-slide="next">
        <i class="text-dark fas fa-chevron-right"></i>
        <span class="sr-only">Next</span>
    </a>
</div>

{{ end }}