<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">

{{- partial "head.html" . -}}

<body data-spy="scroll" data-offset="50" data-target=".navbar-collapse">

    {{- partial "menu_bar.html" . -}}

    <!-- Start featured products -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {{- partial "top_posts.html" . -}}
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
            role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
   <!-- End featured products -->

    <!-- Start Suggest Product -->
    <section class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Produtos sugeridos</h1>
                <p>
                    Escolhemos alguns produtos que acreditamos que você vai amar. Todos planejados e produzidos 
                    com carinho para atender às suas necessidades.
                </p>
            </div>
        </div>
        <div class="row">
            {{- partial "suggest.html" . -}}
        </div>
    </section>
    <!-- End Suggest Product -->

    <!-- Nosso fluxo de entregas -->
    <section id="fluxo" class="bg-light">
        <div class="container py-5">
            <div class="row text-center pt-5 pb-3">
                <div class="col-md-12 m-auto">
                    <h1 class="h1 pb-5">Nosso fluxo de atendimento</h1>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa-solid fa-list"></i></div>
                        <h2 class="h5 mt-4 px-2 text-center">Peça via Whatsapp ou Instagram</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa-solid fa-calendar-days"></i></div>
                        <h2 class="h5 mt-4 px-2 text-center">Combine o prazo de entrega</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa-solid fa-credit-card"></i></div>
                        <h2 class="h5 mt-4 px-2 text-center">Negocie a forma de pagamento</h2>
                    </div>
                </div>

                <div class="col-md-6 col-lg-3 pb-5">
                    <div class="h-100 py-5 services-icon-wap shadow">
                        <div class="h1 text-success text-center"><i class="fa-solid fa-truck"></i></div>
                        <h2 class="h5 mt-4 px-2 px-2 text-center">Combine a forma de envio</h2>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Nosso fluxo de entregas -->

    {{- partial "footer.html" . -}}

</body>

</html>